 
/* libs/design-tokens/src/lib/styles/theming/font.css */
/* @import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&subset=latin-ext&display=swap'); */
@import url('@fortawesome/fontawesome-pro/css/all.min.css');
@import url('@bexio/design-tokens/styles/bundles/all.css');
@import url('@bexio/design-tokens/styles/theming/font.css');

/* @import "tailwindcss";  */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font: var(--primary-regular-sm);
}
